%h1= t('.edit_profile', name: @facade.user_name)
= form_with(model: @profile) do |f|
  = render "shared/error_messages", object: @profile
  .field
    = f.label :surname
    %br/
    = f.text_field :surname
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :phone
    %br/
    = f.text_field :phone

    %br
    = f.submit t('save')

%li= link_to t('profile', name: current_user.name), users_profile_path
%p
  %li= link_to t('home'), home_path, class: "btn btn-primary btn-sm mt-10"
