%section.container
  %h1= t('welcome')
  %h1= t('app_name')
  %h2= t('links')

  %p
    %li= link_to "Dashboard", dashboard_path, class: "btn btn-primary btn-sm mt-10"
    - if signed_in?
      %li= link_to t('log_out'), destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm mt-10"
      %li= link_to t('profile'),users_profile_path(current_user.id) ,method: :get, class: "btn btn-primary btn-sm mt-10"
      %li= link_to t('admin_panel'), rails_admin_path, class: "btn btn-primary btn-sm mt-10"


    - else
      %li= link_to t('log_in'), new_user_session_path, class: "btn btn-primary btn-sm mt-10"
      %li= link_to t('sign_up'), new_user_registration_path, class: "btn btn-primary btn-sm mt-10"

- flash.each do |k,v|
  = v
