%section.container
  %h1 HELLO
  %h1 TEST LUNCH APP
  %h2 Links:
  %p
    - if signed_in?

      %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm mt-10"
      %li= link_to 'Profile',users_profile_path(current_user.id) ,method: :get, class: "btn btn-pimary btn-sm mt-10"
      %li= link_to 'AdminPanel', rails_admin_path, class: "btn btn-pimary btn-sm mt-10"


    - else
      %li= link_to 'Profile',users_profiles_path ,method: :get, class: "btn btn-pimary btn-sm mt-10"
      %li= link_to 'Login', new_user_session_path, class: "btn btn-pimary btn-sm mt-10"
      %li= link_to 'Register', new_user_registration_path, class: "btn btn-primary btn-sm mt-10"

